*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
body {
  min-height: 120vh;
  background: #0c192c;
  margin: 8px;
  display: block;
}
.container
{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.bubbles {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  pointer-events: none; 
  z-index: 0; 
}

.bubbles span {
  position: relative;
  width: 30px;
  height: 30px;
  background: #4fc3dc;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 15px darkblue, 0 0 50px #4fc3dc, 0 0 100px #4fc3dc;
  animation: animate 15s linear infinite;
  animation-duration: calc(120s / var(--i));
}

.bubbles span:nth-child(even) {
  background: #ff2d75;
  box-shadow: 0 0 0 15px #ff2d7544, 0 0 50px #ff2d75, 0 0 100px #ff2d75;
}

@keyframes animate {
  0%{
    transform: translateY(100vh) scale(0)
  }
  100%{
    transform: translateY(-10vh) scale(1)
  }
}
.card {
  width: 90%;
  margin: 20px auto;
  padding: 20px;
  background: #1e293b;
  color: white;
  max-width: 1200px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, background 0.3s ease;
  animation: fadeIn 1s ease both;
  position: relative;
  z-index: 1;
}

.card2 {
  width: 90%;
  margin: 20px auto;
  padding: 20px;
  background: #1e293b;
  color: white;
  max-width: 1200px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, background 0.3s ease;
  animation: fadeIn 1s ease both;
  position: relative;
  z-index: 1;
}

.card:hover {
  transform: translateY(-10px) scale(1.05);
  background: #334155;
}

.card p {
  font-size: 1.2em;
  line-height: 1.6;
  font-family: "cursive", sans-serif;
}

.page-title {
  text-align: center;
  margin-top: 20px;
  font-size: 2.5rem;
  font-family: 'Arial', sans-serif;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
p {
  color: white;
  font-size: 1.2em;
  line-height: 1.6;
  font-family: "cursive", sans-serif;
}

footer {
  background-color: darkblue;
  color: black;
  padding: 2px;
  text-align: center;
  border-radius: 0px 0px 12px 12px;
  box-shadow: 4px 4px 8px rgba(0,0,0,0.3);
}
